version: '3.8'

services:
  database:
    container_name: postgres_database
    image: postgres:15.2
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=api_beers_db
      - POSTGRES_USER=beers_user
      - POSTGRES_PASSWORD=secret_pwd_db
    volumes:
      - ./migrations/000001_api_beers_schema.up.sql:/docker-entrypoint-initdb.d/schema.up.sql

  api-beers:
    depends_on:
      - database
    image: api-beers:1.0.0
    environment:
      - GO_ENV=production
      - API_PORT=3000
      - DB_HOST=database
      - DB_PORT=5432
      - DB_NAME=api_beers_db
      - DB_USER=beers_user
      - DB_PASSWORD=secret_pwd_db
    ports:
      - '8080:3000'

volumes:
  api-beers-db-data:
    external: false
